.landing-modal{

}

.textBox{
    border-radius: 10px;
    background-color: #ebe2fa;
    height: 45px;
    width: 275px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    position: relative;

}

.navbar-position{
    position: relative;
    top: 25;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
    /* margin: auto; */
}
.navbar-base{
    background-color: #804c9c;
    align-items: center;
    /* justify-content: center; */
    /* padding: 10px; */
    display: flex;
    height: 100%;

    /* background-color: #080011; */
    /* height: 50px; */
}

.navbar-contentWrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}



.navlink{

}

.navlink:hover{
    background-color: #382244;


}

.cardBase{
    width: 250px;
    height: 350px;
    border-radius: 3px;
    border-color: #90fcf9;
    border: solid;
    border-width: 2px;
    padding: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #080011;
}
.card-base2{
    border-radius: 3px;
    background-color: #63b4d1;
    height: 100%;
    width: 100%;
    /* border: solid; */
    display: flex;
    position: relative;

    /* width: 250px; */
}

.card-bottomWrapper{
    width: 100%;
    /* justify-self: flex-end; */
    position: absolute;
    bottom: 0;
    

}
.card-bottom{
    width: inherit;
    /* width: ; */
    height: 100px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #355a68;
    display: flex;
    justify-content: left;
    text-align:justify;
}

.listItemBase{
    /* display:flex; */
    width: 65%;
    /* padding: 5px; */
    /* justify-content: left; */
}

.listItem{
    display: flex;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #804c9c;
    border:#90fcf9;
    border: solid;
    border-width: 1px;
}

.listContentWrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.listImg{
    height: 75px;
    aspect-ratio: 1;
    background-color: #080011;
    border-radius: 5px;
}

.asBox{
    width: 115px;
    height: 165px;
    border: solid;
    flex-wrap: wrap;
    border-radius: 5px;
    /* border-color: #90fcf9; */
    border:solid #90fcf9;
    border-width: 2px;

}

.asTextBox{
    font-size: larger;
    width: 50px;
    height: 50px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 4px;
    /* display: flex; */


}