.landing-modal{

}

.textBox{
    border-radius: 10px;
    background-color: #ebe2fa;
    height: 45px;
    width: 275px;
    border: none;
    padding-left: 15px;
    font-size: 16px;
    position: relative;

}

.navbar-position{
    position: absolute;
    top: -25px;
    left: 0;
    margin: auto;
    width: 100%;
    /* margin: auto; */
}
.navbar-base{
    background-color: #804c9c;
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;

    /* background-color: #080011; */
    /* height: 50px; */
}

.cardBase{
    width: 250px;
    height: 350px;
    border-radius: 3px;
    border-color: #90fcf9;
    border: solid;
    border-width: 2px;
    padding: 5px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background-color: #080011;
}
.card-base2{
    border-radius: 3px;
    background-color: #63b4d1;
    height: 350px;
    width: 100%;
    /* border: solid; */
    display: flex;
    position: relative;

    /* width: 250px; */
}

.card-bottomWrapper{
    /* justify-self: flex-end; */
    position: absolute;
    bottom: 0;
    

}
.card-bottom{
    width: 250px;
    height: 100px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #355a68;
    display: flex;
    justify-content: left;
    text-align:justify;
}

/* .class-bg{
    border-radius: 3px;
    height: 171px;
    align-items: center;
    
    
} */