.home{
    padding: 100px;
 
}

.user-charactersBox{
    position: relative;
    width: 500px;
    height: 55px;
    background-color: #9475a5;
    border-radius: 5px;
    padding-left: 10px;
    align-items: center;
    display: flex;
}    /* opacity: 75%; */

.card-box{
    padding-top: 25px;
    display: flex;
    justify-content: left;
    width: 100%;
    border-radius: 10px;
    /* border: solid; */
    background-color: #9475a5;
    /* text-align: start; */

}

.card-container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.card {
    flex: 1;
    /* flex-basis: 21%; */
    margin: 10px;
}

.bgImgWrapper{
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
}

.create-character{
    justify-content: flex-end;
    padding: 10;
}